body {
	padding: 0;
	margin: 0;
	/* Background picture*/
	background: url(./src/night-view-of-guangzhou-956095614-02914cb9e8324c49be6421560ba5ffed.jpg) no-repeat;
	width: 100vw
}

.box {
	width: 25%;
	background:rgba(red, green, blue, .5);
	margin: 0 auto;
	margin-top: 7%;
	text-align: center;
	color: white;
}

.box img {
	padding-top: 10px;
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

.box h1 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

.box h2 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: justify;
}

.box p {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	text-align: justify;
}

.box ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.box ul li {
	width: 500px;
	height: 300px;
	list-style: none;
}

.box ul li a {
	font-size: 40px;
	color: white;
	text-decoration: none;
	transition: all ease-in-out 300ms;
}

.box li a:hover {
    color: #b9b9b9;
}